@charset "UTF-8";

/* VENDOR CSS  */
@import "./vendor/vendor.scss";

/* BASE CSS FOR ALL COMPONENTS STYLING */
@import "./base/_variables";
@import "./base/_mixins";
@import "./base/_functions";
@import "./base/_placeholders";



@import "./components/fonts.scss";

html {
    font-size: 100%;
}

body {
    font-family: $font-primary;
    line-height: $base-line-height;
    color: $base-font-color;
}


* {
    box-sizing: border-box;
}

.your-app-kickstart {
    position: relative;
    font-size: 12px;
    width: 100%;
    max-width: $layout-max-width;
    height: auto;
    color: #000;
    padding: 0;
    line-height: 1;
    margin: 0 auto;
    opacity: 1;
    @include transition(opacity .15s linear);

    /* ------- Components Styles -------*/
    
    @import "./components/utility";
    @import "./components/typography.scss";
    @import "./components/notification.scss";
    @import "./components/formControls.scss";
    @import "./components/theme.scss";


    /* ------- GLOBAL Styles -------*/
    @import "./global/header.scss";
    @import "./global/common.scss";
    @import "./global/footer.scss";


    /* ------- Page Specific Styles -------*/
    @import "./pages/landing.scss";
    @import "./pages/notSupported.scss";

}

// This code is for demo purpose you can feel free to delete
@import "./demo/demo.scss";