.message {
    @extend %message-shared;
    @include rounded-corner($radius-input);

    > strong {
        @include font-size(15);
    }

    p {
        margin: 0;
    }

    * + p {
        margin-top: 0.5rem;
    }

    &.success {
        @extend %message-shared;
        border-color: $message-success-color;
        background: $message-success-light;
    }

    &.error {
        @extend %message-shared;
        border-color: $message-error-color;
        background: $message-error-light;
    }

    &.warning {
        @extend %message-shared;
        border-color: $message-warning-color;
        background: $message-warning-light;
    }
}